body{
    background-color:#393E46;
}
.container{
    width:80%;
    margin:auto;
    text-align:center;
}
.dice{
    display:inline-block;
    margin-right:5%;
    margin-left:5%;
}

h1{
    margin-bottom:5%;
    margin-top:3%;
    font-family: 'Lobster', cursive;
    font-size:8rem;
    text-shadow: 7px 0 #232931;
    color: #4ECCA3;
   
}
img{
    width:80%;
}

p{
    font-family: 'Fira Sans', sans-serif;
    color: #4ECCA3;
    font-size:2rem;
    
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  